title: barnabashub
email: barnabas.toth.hub@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Hi! I'm Barnabas from Hungary and I am grateful for your interest in any of my project. Feel free to get in touch if you have any questions!
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  barnabashub

# Build settings
theme: minima
plugins:
  - jekyll-feed

Navigation:
- title: GMaps in Search
 url: https://barnabashub.github.io/gmaps-redirect/

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
